.header{
  display: flex;
  justify-content: space-between;
  border: 1px solid brown;
}

.logo{
  width: 70px;
  padding:0px 20px ;
  align-items: center;
}

.nav-items > ul{
  display: flex;
  list-style-type: none;
  
}

.nav-items >ul >li{
  padding: 10px;
  margin: 10px;
  padding-top: 2px;

}

.res-container{
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  width: 95%;
}

.res-card{
  margin: 5px;
  width: 200px;
  height: 300px;
  
}

.res-card:hover{
  border: 2px solid rgb(216, 7, 7) ;
  cursor: pointer;
  box-shadow: 2px;
}

.res-logo{
  width: 190px;
  padding: 5px;
  height: 120px;

}

.search{
  padding: 20px;
}