.header{
  display: flex;
  justify-content: space-between;
  border: 1px solid brown;
}

.login-logout{
  margin-right: 17px;
  cursor: pointer;
}



.logo{
  width: 70px;
  padding:0px 20px ;
  align-items: center;
}

.nav-items > ul{
  display: flex;
  list-style-type: none;
  
}

.nav-items >ul >li{
  padding: 10px;
  margin: 10px;
  padding-top: 2px;

}

.nav-items >ul >li:hover{
  cursor: pointer;
  text-decoration: underline;
  color: brown;
}

.res-container{
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  margin: auto;
  
}

.res-card{
  margin: 5px;
  width: 200px;
 
  
}

.res-card:hover{
  border: 2px solid rgb(216, 7, 7) ;
  cursor: pointer;
  box-shadow: 2px;
}

.res-logo{
  width: 190px;
  padding: 5px;
  height: 140px;

}

.filter{
  display: flex ;
}

.search-btn, .filter-btn{
  margin: 5px;
  padding: 5px;
}


.shimmer-container{
  display: flex;
  flex-wrap: wrap;
  
}

.shimmer-card{
  width: 200px;
  height:400px;
  margin: 20px;
  background-color:  rgb(243 217 217);
}
